.artist-image {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.artist-image__avatar {
    width: 100px;
    height: 100px;
}

.artist-image__name {
    display: block;
}



