.campaigns_ending_soon-container {
  text-align: center;
  grid-column: 1/-1;
  padding: 0 0 $padding-s;
  margin-top: $margin-xl;
  margin-left: $margin-s;
  color: $primary-color-white;

  a {
    color: rgba($primary-color-white, 0.6);
    font-weight: 700;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;

    &:active {
      color: $primary-color-white;
    }

    &:hover {
      color: rgba($primary-color-white, 1);
    }
  }

  .cause-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: $margin-r;
    margin-bottom: $margin-s;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .campaigns_ending_soon-container {
    grid-column: 7/-1;
  }
}
