.performance-card {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: $margin-s;
  padding: $padding-s;
  color: $primary-color-white;
  text-align: center;
  background-color: $primary-color-darkblue-lighter;
  transition: background-image 400ms ease;
  width: 100%;

  &:first-of-type {
    margin-top: 0;
  }

  &:hover {
    background-image: radial-gradient(
      rgba($primary-color-white, 0.6),
      rgba(255, 255, 255, 0)
    );

    cursor: pointer;
  }

  .performance-thumbnail {
    width: 100%;
  }

  .performance-details {
    display: flex;
    flex-direction: column;

    .performance-text {
      text-align: left;
      margin-top: $margin-s;

      h4 {
        margin-bottom: $margin-s;
      }
    }

    .performance-stats {
      min-width: 250px;
      display: flex;
      flex-direction: column;
      margin-top: $margin-s;
      text-align: left;
      flex-wrap: wrap;

      h5 {
        min-width: 200px;
      }

      .artist-details {
        display: flex;

        p {
          margin-right: $margin-s;
        }
      }

      .cause-funds {
        p {
          display: block;
          color: $primary-color-white-darkest;
          margin-top: $margin-s;
          margin-left: auto;
        }
      }

      button {
        align-self: flex-end;
        width: auto;
        display: block;
      }

      button.flex-start {
        align-self: flex-start;
      }
    }
  }
}

.performance-card.featured {
  width: auto;
  flex-direction: column;

  .performance-details {
    flex-direction: column;

    .performance-text {
      margin-top: $margin-s;
      margin-right: $margin-s;
    }

    .performance-stats {
      min-width: 250px;
      border-top: 1px solid $primary-color-darkblue-lightest;
      display: flex;
      flex-direction: column;
      margin-top: $margin-r;
      padding-left: 0;
      padding-top: $padding-r;
      justify-content: space-between;
      text-align: left;

      .artist-details {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .performance-card {
    width: 49%;
    padding: $padding-s;

    .performance-details {
      .performance-text {
        text-align: left;
      }

      .performance-stats {
        flex-direction: column;
        margin-top: $margin-s;
        text-align: left;
        flex-wrap: wrap;

        h5 {
          min-width: 200px;
        }

        .artist-details {
          display: flex;

          p {
            margin-right: $margin-s;
          }
        }
      }
    }
  }

  .performance-card.featured {
    width: 100%;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;

    .performance-thumbnail {
      width: 33%;
    }

    .performance-details {
      flex-direction: row;

      .performance-text {
        margin-top: 0;
        margin-left: $margin-s;
      }

      .performance-stats {
        border-top: 0;
        border-left: 1px solid $primary-color-darkblue-lightest;
        margin-top: 0;
        padding-top: 0;
        padding-left: $padding-r;

        button {
          margin-top: $margin-s;
          align-self: flex-start;
        }
      }
    }
  }
}
