.trending-causes-container {
  text-align: center;
  grid-column: 1/7;
  padding: $padding-s;
  margin-top: $margin-s;
  color: $primary-color-white;

  .cause-cards {
    display: flex;
    margin-top: $margin-r;
  }
}
