.artist-container {
  grid-column: 1/-1;
  background-color: $primary-color-darkblue;
  min-height: 0;
}

.artist-details-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: $margin-s;
  position: relative;
}

.artist-details-container:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    ellipse at 50%,
    rgba(21, 24, 40, 0.31) 0%,
    $primary-color-darkblue 75%
  );
  position: absolute;
  z-index: 1;
  top: 0;
}

.artist-details__avatar {
  width: 100%;
  box-shadow: 0 12px 30px rgba($primary-color-darkblue, 0.4);
}

.artist-details__name {
  margin-bottom: $margin-r;
}

.artist-details__text {
  left: 0;
  z-index: 1;

  .artist-details__description {
    margin-bottom: $margin-s;
  }

  .artist-details__description:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .artist-container {
    min-height: 500px;
    background-image: radial-gradient(
        ellipse at 50%,
        rgba(21, 24, 40, 0.31) 0%,
        $primary-color-darkblue 70%
      ),
      url("/images/dua_lipa_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .artist-details-container {
    flex-direction: row;
  }

  .artist-details-container:before {
    width: 0;
    height: 0;
  }

  .artist-details__text {
    position: static;
    max-width: 600px;
    margin-left: $margin-r;
  }

  .artist-details__avatar {
    position: static;
    width: 250px;
    align-self: start;
  }

  .left-sidebar {
    display: flex;
  }
}
