.how-container {
  margin-top: $margin-l;
    &::after {
      content: "";
      display: block;
      height: 1px;
      background:$disabled-color-white;
      width: 50%;
      margin: $margin-s auto;
    }

  h3 {
    text-align: center;
  }

  .how-process-wrapper {
      width: 100%;
      display: grid;
      margin: 30px auto;
      grid-template-columns:repeat(auto-fit,minmax(300px, 1fr));
      grid-gap: 64px;
      justify-content: center;
    .how-process-item {
      padding: $padding-s;
      &:last-of-type {
        margin-left: 0;
        margin-right: 0;
      }

      h5 {
        display: inline-block;
        margin-bottom: $margin-s;
        margin-left: $margin-xs;
      }

      p {
        text-align: justify;
      }
      &:hover {
        background-color: $primary-color-white;
        color: $primary-color-darkblue;
        transition: all 0.7s ease;
      }
    }
  }
}
