body {
  background-color: $primary-color-darkblue;
}

a {
  color: $primary-color-white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.disabled {
  color: $disabled-color-white;
  pointer-events: none;
}

button,
.button {
  appearance: none;
  background-color: $primary-color-accent;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 32px;
  padding: $padding-xs $padding-s;
  color: $primary-color-white;

  &:hover {
    cursor: pointer;
  }
}

button.secondary {
  appearance: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid $primary-color-white;
  border-radius: 32px;
  padding: $padding-xs $padding-s;
  color: $primary-color-white;

  &:hover {
    cursor: pointer;
  }
}

button.text-link {
  appearance: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  border-radius: 32px;
  padding: $padding-xs $padding-s;
  color: $primary-color-white;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

button .button-icon {
  margin-left: $margin-xs;
}

input[type="text"],
input[type="email"] {
  border: none;
  background-image: none;
  background-color: $primary-color-white;
  padding: $padding-xs $padding-s;
  border-radius: 32px;
  outline: rgba($primary-color-white, 0);
}
