// The typography conventions are following the 1.333 Perfect Fourth typescale, please don't introduce new sizes until really-really necessary

@import url("https://use.typekit.net/nkg3zhv.css");

// BODY -- PROXIMA NOVA REGULAR

body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  line-height: 1.35;
}

// HEADINGS -- PROXIMA NOVA EXTRABOLD

h1,
.h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 4.209rem;
  line-height: 0.9;
}

h2,
.h2 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3.157rem;
  line-height: 0.9;
}

h3,
.h3 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.369rem;
  line-height: 1.1;
}

h4,
.h4 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.777rem;
  line-height: 1.1;
}

h5,
.h5 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.333rem;
  line-height: 1.2;
}

h6,
.h6 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.2;
}

// TYPOGRAPHY UTILITIES

.white {
  color: $primary-color-white;
}

.stroke {
  color: transparent;
  -webkit-text-stroke: 1px $primary-color-white;
}

.italic {
  font-style: italic;
}

.label-normal {
  font-family: "proxima-nova", sans-serif;
  font-size: 0.75rem;
  line-height: 1.2;
}

.label-small {
  font-family: "proxima-nova", sans-serif;
  font-size: 0.563rem;
  line-height: 1.2;
}
