// UTILITIES ARE USED TO AVOID HARD-CODED SPACING VALUES & INTERACTION PATTERNS

// Margins & Paddings
$margin-xs: 8px;
$margin-s: 16px;
$margin-r: 24px;
$margin-l: 32px;
$margin-xl: 48px;
$margin-xxl: 64px;
// -------------
$padding-xs: 8px;
$padding-s: 16px;
$padding-r: 24px;
$padding-l: 32px;
$padding-xl: 48px;