.supporting-artist {
  display: flex;
  align-items: center;
  margin-bottom: $margin-xs;

  .supporting-artist__name {
    margin-left: $margin-xs;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
