.artist-performance-container {
  width: 100%;
  margin-top: $margin-l;
  margin-bottom: $margin-r;
}

@media only screen and (min-width: 768px) {
  .artist-performance-container {
    width: 60%;
  }
}
