.home-container__intro {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  grid-column: 1/-1;
  margin-top: $margin-l;
  margin-bottom: $margin-xxl;
  background-color: $primary-color-accent;
  height: 500px;
  background-image: radial-gradient(
      ellipse at 50%,
      rgba(21, 24, 40, 0.31) 0%,
      $primary-color-darkblue 70%
    ),
    url("/images/sing-for-needs-home-page-bg.jpg");
  background-size: cover;

  h1,
  p {
    color: $primary-color-white;
  }

  h1 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3.157rem;
    line-height: 0.9;
    margin-bottom: $margin-s;
  }

  button {
    margin-top: $margin-r;
    margin-bottom: $margin-xs;
    max-width: fit-content;
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: $margin-l;

    p.intro-usp {
      margin-top: $margin-xs;
      margin-bottom: $margin-xxl;
      color: $primary-color-white-darkest;
    }
  }

  .intro-visuals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: $margin-xxl;

    img {
      position: absolute;
      width: 52%;
      box-shadow: 0 19px 38px rgba($primary-color-darkblue-lighter, 0.3),
        0 15px 12px rgba($primary-color-darkblue-lighter, 0.22);
    }

    #image-1 {
      top: auto;
      left: -1%;
      transform: rotate(-15deg);
      transition: transform 300ms ease;

      &:hover {
        transform: rotate(-15deg) translateY(-10px);
        z-index: 3;
      }
    }

    #image-2 {
      transition: transform 300ms ease;

      &:hover {
        transform: translateY(-10px);
        z-index: 3;
      }
    }

    #image-3 {
      bottom: auto;
      left: 50%;
      transform: rotate(15deg);
      transition: transform 300ms ease;

      &:hover {
        transform: rotate(15deg) translateY(-10px);
        z-index: 3;
      }
    }
  }
}

.home-container__registration {
  flex-direction: column;
  grid-column: 1/-1;
  margin-top: $margin-xxl;
  margin-bottom: $margin-xxl;
  padding-top: $padding-xl;

  h2 {
    color: $primary-color-white;
    text-align: center;
    margin-bottom: $margin-s;
  }

  p.intro {
    color: $primary-color-white-darkest;
    text-align: center;
  }

  .registration-options {
    width: 100%;
    padding-top: $padding-xl;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .registration-option-card {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: $primary-color-darkblue-lighter;
      padding-bottom: $padding-s;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border: 1px solid $primary-color-darkblue-lightest;
      transition: all 300ms ease;
      box-shadow: 0 19px 38px rgba($primary-color-darkblue-lighter, 0.3),
        0 15px 12px rgba($primary-color-darkblue-lighter, 0.22);
      margin-bottom: $margin-l;

      &:last-of-type {
        margin-bottom: 0;
      }

      img {
        width: 100%;
      }

      h4,
      h5 {
        width: 100%;
        color: $primary-color-white;
        padding-top: $padding-s;
        padding-left: $padding-s;
      }

      .description {
        padding: $padding-s;
        color: $primary-color-white;
      }

      button {
        margin-left: $margin-s;
        margin-right: $margin-s;
        width: fit-content;
      }

      &:hover {
        cursor: pointer;
        border: 1px solid $primary-color-white-darkest;
        text-decoration: none;
        transform: translateY(-8px);
      }
    }

    .registration-option-card.coming-soon {
      opacity: 0.4;

      &:hover {
        cursor: auto;
        border: 1px solid $primary-color-darkblue-lightest;
        text-decoration: none;
        transform: translateY(0px);
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .home-container__intro {
    .intro-text {
      margin-bottom: $margin-xxl;
    }

    .intro-visuals {
      img {
        width: 40%;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .home-container__intro {
    flex-direction: row;

    button {
      margin-top: $margin-xl;
    }

    .intro-text {
      width: 55%;

      h1 {
        font-family: "proxima-nova", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 4.209rem;
        line-height: 0.9;
        width: 95%;
      }

      p {
        width: 80%;
      }
    }

    .intro-visuals {
      width: 50%;

      img {
        width: 58%;
      }

      #image-1 {
        top: 10%;
      }

      #image-2 {
      }

      #image-3 {
        bottom: 5%;
      }
    }
  }

  .home-container__registration {
    margin-top: $margin-s;
    padding-top: 0;

    .registration-options {
      width: 100%;
      padding-top: $padding-xl;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .registration-option-card {
        width: 28%;
        margin-bottom: 0;
        justify-content: space-between;

        h4 {
          width: 100%;
          color: $primary-color-white;
          padding-top: $padding-s;
          padding-left: $padding-s;
        }

        .description {
          padding: $padding-s;
          color: $primary-color-white;
        }
      }
    }
  }
}
