.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  grid-column: 1/-1;
  color: $primary-color-white;
  padding: $padding-r;

  .loader--main-text {
    font-size: 1.777rem;
  }
  .loader--sub-text {
  }
  .loader--icon {
    font-size: 1.777rem;
    animation: rotate 1500ms infinite linear;
  }
}

@keyframes rotate {  
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);} 
}