.header-container {
  width: 100%;
  background-color: $primary-color-darkblue-lighter;
  box-shadow: 0 12px 30px rgba($primary-color-darkblue, .4);
}

.nav-container {
  display: flex;
  align-items: center;
  padding-top: $padding-s;
  padding-bottom: $padding-s;

  a {
    color: rgba($primary-color-white, .6);
    font-weight: 700;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: $margin-l;

    &:active {
      color: $primary-color-white;
    }

    &:hover {
      color: rgba($primary-color-white, 1);
    }
  }
}

.nav-container .nav__item--selected {
  color: $primary-color-white;
  padding-bottom: $padding-xs;
  border-bottom: 3px solid $primary-color-accent;
}
