.explore-causes-container {
  grid-column: 1/-1;
  margin: $margin-l auto;
  overflow-x: scroll;
  width: 100%;
  position: relative;

  h3 {
    text-align: center;
  }

  .explore-causes-categories {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;

    .explore-causes-category {
      padding: $padding-xl;
      background-color: $primary-color-darkblue-lighter;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: $margin-r;
      margin-right: $margin-r;
      width: 170px;
      height: 170px;

      p {
        font-size: 16px;
        text-align: center;
      }

      &:hover {
        cursor: pointer;
        background-image: radial-gradient(
          rgba($primary-color-white, 0.6),
          rgba(255, 255, 255, 0)
        );
      }

      .cause-category-icon {
        font-size: 2.369rem;
        margin-bottom: $margin-s;
      }
    }
  }
  .carousel-arrow {
    width: 32px;
    height: 32px;
    background-color: $primary-color-white;
    position: absolute;
    top: 55%;
    right: 0;
    transform: translateY(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 576px) {
  .explore-causes-container {
    .explore-causes-categories {
      justify-content: space-between;
      flex-wrap: wrap;

      .explore-causes-category {
        width: 48%;
        margin-right: 0;
      }
    }
    .carousel-arrow {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .explore-causes-container {
    .explore-causes-categories {
      flex-wrap: wrap;
      justify-content: center;

      .explore-causes-category {
        width: 170px;
        margin-right: $margin-r;
      }
    }
  }
}
