.banner {
  display: block;
  grid-column: 1/-1;
  background-image: url("/images/banner_sample.jpg");
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $margin-xl;
  margin-bottom: $margin-xl;
  position: relative;
  flex-direction: column;

  button,
  h3,
  p {
    z-index: 2;
  }

  h3 {
    text-align: center;
    margin-bottom: $margin-xs;
    text-shadow: 1px 1px $primary-color-darkblue;
  }

  p {
    margin-bottom: $margin-r;
    text-align: center;
    text-shadow: 1px 1px $primary-color-darkblue;
  }
}

.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    ellipse at 50%,
    rgba(21, 24, 40, 0.31) 0%,
    $primary-color-darkblue 75%
  );
  position: absolute;
  z-index: 1;
  top: 0;
}

@media only screen and (min-width: 992px) {
  .banner {
    p {
      text-align: center;
      max-width: 500px;
    }
  }
}
