.footer-container {
  width: 100%;
  background-color: $primary-color-darkblue;
}

.footer-container__copyright {
  color:  $primary-color-white-darkest;
  margin: $margin-r 0;
  text-align: center;
}

.footer__nav-container {
  display: flex;
  align-items: center;
  padding-top: $padding-s;
  padding-bottom: $padding-s;
  padding-left: $padding-xxl;

  a {
    color: rgba($primary-color-white, 0.6);
    font-weight: 700;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: $margin-r;
    margin-left: $margin-r;
    &:active {
      color: $primary-color-white;
    }

    &:hover {
      color: rgba($primary-color-white, 1);
    }
  }
}

.footer__nav-container .footer__nav__item--selected {
  color: $primary-color-white;
}

.nav_link {
  width: 100%;
}