.contact-us-wrapper {
  grid-row: 8;
  grid-column: 1/-1;
  display: flex;
  margin-bottom: $margin-l;
  margin-top: $margin-l;
  display: flex;
  flex-direction: column;

  h5 {
    margin-bottom: $margin-s;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    padding: $padding-s;
    background-color: $primary-color-darkblue-lighter;
    color: $primary-color-white;

    h6 {
      margin-bottom: $margin-r;
    }

    .contact-details--item {
      display: flex;
      align-items: center;
      margin-bottom: $margin-s;
    }

    .contact-icon {
      margin-right: $margin-xs;
      font-size: 1.333rem;
      margin-right: $margin-r;

      &:hover {
        cursor: pointer;
      }
    }

    .contact-details--socials {
      margin-top: $margin-r;
    }
  }
}

@media only screen and (min-width: 768px) {
  .contact-us-wrapper {
    grid-row: 4;
    grid-column: 7/-1;
    margin-left: $margin-l;

  }
}
